<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>

<div class="container">
     
     <h1 class="mb-4" >  New article </h1>

     <form action="/articles" method="POST">
         <%- include('../partials/form_fields.ejs') %>
     </form>

                
</div>

<%- include('../partials/futa.ejs') %>
