<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <div class="container">
        <%- include('../partials/nav.ejs') %>
        

        <div class="mt-5 ">
            <h1>Create a New Blog</h1>

        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, ea!</p>
            </div>
            <div class="col-md-6">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, quam.</p>
            </div>
        </div>

        <div class="fill">
            <h4 class="mb-4">New Article</h4>
            <form action="/articles" method="Post" >
                <%- include('../partials/form_fields') %>
            </form>
        </div>

      

        
    </div>

    <%- include('../partials/footer.ejs') %>

    
</body>
</html>