@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap");



h1{
  
    color: red;
    font-family: montserrat;   
}

.navbar-brand{
    color:red!important;
    font-size:30px;
    font-family: montserrat;  
}

.navbar-nav .nav-item .nav-link{
    color:red!important;
    font-size:30px;
    font-family: montserrat;  
}

.img img{
    height: 205px;
    object-fit: cover;
}



.k{
    color:red!important
}

.home{
    margin-top:20px !important
}